<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h2 class="text-info login-title">Alphabet</h2>
        </div>
        <p class="text-info login-session">Sign In</p>
        <a class="btn btn-default btn-primary" href="/auth">Sign In with Azure Account</a>
    </div>
</div>
